[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
igraph = "*"
numpy = "*"
networkx = "*"
argparse = "*"
matplotlib = "*"
graphviz = "*"


[dev-packages]

pylint = "*"
rope = "*"


[requires]

python_version = "3.6"
